@import "../../styles/global.scss";

.topbar {
  height: 40px;
  background-color: rgb(240, 237, 231);
  width: 100%;
  position: fixed;
  color: $primaryColor;
  top: 0%;
  z-index: 3;
  transition: all 1s ease-in;

  .wrapper {
    display: flex;
    padding: 0px 30px;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      .logo {
        font-size: 30px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        margin-right: 40px;
      }
      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 20px;

        .icon {
          font-size: 18px;
          margin-right: 5px;
        }
        span {
          font-size: 15px;
          font-weight: 500;
        }
      }
    }

    .right {
      .toggleButton {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        span {
          width: 100%;
          height: 3px;
          background-color: $primaryColor;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  }

  &.active {
    background-color: $primaryColor;
    color: wheat;

    .toggleButton {
      span {
        &:first-child {
          background-color: wheat;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:last-child {
          background-color: wheat;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
