.intro{
    background-color: white;
    display: flex;
    
    .left{
        flex: 0.5;
        overflow: hidden;

        .imageConatainer{
            width: 700px;
            height: calc(100vh - 70px);
        }
        img{
            top:20%;
            width: 50vw;
            height: 100vh;
        }
        
    }

    .right {
        flex: 0.5;
        position: relative;

        .wrapper{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 50px;

            h1{
                font-size: 60px;
                margin: 10px 0;
            }

            h2{
                font-size: 35px;
            }

            h3{
                font-size: 30px;

                span{
                    font-size: inherit;
                    color: crimson;
                }
            }
            
            .IntroIcons{
                display: flex;
                // flex-direction: column;
                align-items: center;

                .icon{
                    display: flex;
                    
                }
            }

            .downArrow{
                position: absolute;
                bottom: 5%;
                right: 38%;
                color: crimson;
                font-size: 40px;
                animation: arrowBlink 2s infinite;
            }
            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
            }
    
        }
        
        
    }
}