@import "../../styles/global.scss";
.hero {
  background-color: $primaryColor;
  position: relative;
  .container {
    width: 100%;
    position: relative;
  }
}
.hero__heading {
  font-size: 2rem;
  color: $secondaryColor;
  position: absolute;
  right: 20%;
  align-items: center;

  span {
    display: inline-block;
    width: 100%;
    margin-left: 10px;
  }
  .hero__name {
    font-size: 4.5rem;
    color: $secondaryColor;
  }
}
.hero__img {
  width: 100%;
  margin: 0 auto;
  border: 2px solid var(--gray-1);
  margin-left: 300px;
  margin-top: 40px;
}
.hero__info {
  // margin-top: -18rem;
  color: $secondaryColor;
  position: absolute;
  right: 35%;
  bottom: 10%;
  #button1 {
    font-size: 2rem;
    background-color: $secondaryColor;
    padding: 0.4em 1.5em;
    border: 2px solid var(--gray-1);
    border-radius: 8px;
    display: inline-block;
    color: $primaryColor;
    margin-left: 130px;
  }
  .paragraph {
    max-width: 500px;
    text-align: center;
    font-size: 1.7rem;
    line-height: 1.2em;
    margin-left: 10px;
  }
}

.hero__social {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  bottom: 20px;
  width: 50px;
}
.hero__social {
  left: 50px;
}

.hero__social__text {
  ul {
    li {
      margin-bottom: 1rem;
      a {
        display: inline-block;
        font-size: 1.6rem;
        transform: rotate(-90deg);
        letter-spacing: 5px;

        color: $secondaryColor;
      }
    }
  }
}
